@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #3D52D5;
  --dark-blue: #090C9B;
  --grey: ##8D8D99;
  --dark-grey: #29292E;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}

main{
  height: 100vh;
  display: flex;
}

img {
  width: 100%;
}

h1 {
  font-size: 4rem;
  color: var(--black);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > span{
  font-size: 2rem;
  padding: 1rem auto;
  color: var(--dark-grey);
}

.button-container{
  gap: 1rem;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--white);
  background: var(--blue);
  border-radius: .5rem;
  border: none;
  padding: .5rem 1rem;
}

.btn:hover{
  background-color: var(--dark-blue);
  transition: .25s;
}
